body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #862525;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.logo img {
  width: 170px; /* Ajusta el tamaño de tu logo según sea necesario */
  margin-right: 52px;
}

.right-section a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}
